:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--dark-cyan);
    display: flex;
    justify-content: center;
}


.container {
    width: 375px;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.img-rounded {
    border-radius: 50%;
    border: 5px solid white;
    width: 7rem;
    height: 7rem;
    transform: translateY(70px);
}

.d-flex {
    display: flex;
}

.g-2 {
    gap: 1rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.f-columns {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.card {
    border-radius: 1rem;
    border: none;
    background-color: white;
}

.card-header {
    background-image: url(/images/bg-pattern-card.svg);
    border-radius: 1rem 1rem 0 0;
    border: none;
    padding: 2rem 5rem 1rem 5rem;
}

.card-body {
    background-color: white;
    padding: 5rem 5rem 2rem 5rem;
    border: none;

}

.card-footer {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    border-top: 1px solid #ccc;
    padding: 1rem 5rem .5rem 5rem;
}

.total-width {
    width: 100%;
}

.text-gray {
    color: var(--dark-gray);
}

.mt-2 {
    margin-top: 1rem;
}
